.container{
			display: flex;
			
}


.column{
	background-color: #E8E9EB;
	position: absolute;
	width: 70%;
	height: 100%;
	margin: 80px 100px 0px 150px;
	z-index: 9;
	border-radius: 20px;
	display: flex;
}


.profile{
	position: absolute;
	width: 300px;
	height: 500px;
	border-radius: 20px;
	margin: 50px 0px 0px 20px;
	z-index: 10;
}

.bgi{
	opacity: 0.3;
	 width: 100%;
}


.username{
	font-size: 80px;

}


.row1{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #77C3EC;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.row2{
	width: 70%;
	height: 100%;
	padding: 0px 0px 0px 10px;
	float: left;
}
